{/* CSS do Componente CardDados */}

{/* Inicio da Classe do Formato do Card */}
.card {
    background-color: var(--BrancoMain);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
{/* Fim da Classe do Formato do Card */}

{/* Inicio da Classe do Titulo */}
.titulo {
    font: var(--Titulos);
    color: var(--PretoTexto);
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
{/* Fim da Classe do Titulo */}

{/* Inicio da Classe da Barra */}
.hr {
    border-top: 1px solid #bdb9b97a;
    margin: -30px 20px 0 10px;
}
{/* Fim da Classe da Barra */}

{/* Inicio da Classe do Subtitulo */}
.subtitulo {
    font: var(--Subtitulos);
    margin-bottom: 50px;
    margin-left: 20px;
}
{/* Fim da Classe do Subtitulo */}

{/* Inicio da Classe dos Detalhes */}
.lista {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 150px;
}

.lista li {
    margin-bottom: 5px;
    font: var(--TextosDados);
    color: var(--CinzaTexto);
}

.lista li strong {
    color: var(--PretoTexto);
}
{/* Fim da Classe dos Detalhes */}

{/* Inicio da Classe da Barra Abaixo de Detalhes */}
.hr2 {
    border-top: 1px solid #bdb9b97a;
    margin: -130px 20px 0 10px;
}
{/* Fim da Classe da Barra Abaixo de Detalhes */}

{/* Inicio da Classe do Subtitulo Acima dos Pontos */}
.subtitulo2 {
    font: var(--Subtitulos);
    margin-bottom: 20px;
    margin-left: 20px;
}
{/* Fim da Classe do Subtitulo Acima dos Pontos */}

{/* Inicio da Classe dos Pontos Estratégicos */}
.pontos li {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-bottom: -10px;
}
{/* Fim da Classe dos Pontos Estratégicos */}