:root {
    --purple-main: #6A5ACD;
    --font-color: #333;
}

.inputGroup {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: var(--font-color);
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.inputField {
    width: 400px;
    height: 40px;
    padding: 0px 10px;
    border: 2px solid var(--purple-main);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2s;
}

.inputField:focus {
    border-color: var(--purple-main);
}

.passwordToggle {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #6A5ACD;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    padding: 2px;
    display: flex;
    align-items: center;
}
