/* CSS do Componente Input */

/* Inicio da Classe Principal do Input */
.inputGroup {
    margin-bottom: 20px;
}
/* Fim da Classe Principal do Input */

/* Inicio da Classe com o Texto Acima do Input */
.label {
    font: var(--Subtitulos);
    display: block;
    margin-bottom: 8px;
    color: var(--PretoTexto);
}
/* Fim da Classe com o Texto Acima do Input */

/* Inicio da Classe do Formato do Input */
.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
/* Fim da Classe do Formato do Input */

/* Inicio da Classe do Campo de Texto do Input */
.inputField {
    width: 400px;
    height: 40px;
    padding: 0px 10px;
    border: 2px solid var(--RoxoMain);
    border-radius: 5px;
    font: var(--TextosDados);
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2s;
}

.inputField:focus {
    border-color: var(--RoxoMain);
}
/* Fim da Classe do Campo de Texto do Input */

/* Inicio da Classe do Icone do Olho no Campo */
.passwordToggle {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: var(--RoxoMain);
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    padding: 2px;
    display: flex;
    align-items: center;
}
/* Fim da Classe do Icone do Olho no Campo */