{/* CSS do Componente CardAcesso */}

{/* Inicio da Classe do Formato do Card */}
.card {
    background-color: var(--BrancoMain);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
{/* Fim da Classe do Formato do Card */}

{/* Inicio da Classe do Titulo */}
.titulo {
    font: var(--Titulos);
    color: var(--PretoTexto);
    margin-left: 20px;
    margin-top: 10px;
}
{/* Fim da Classe do Titulo */}

{/* Fim da Classe do Subtitulo */}
.subtitulo {
    font: var(--Subtitulos);
    color: var(--PretoTexto);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
{/* Fim da Classe do Subtitulo */}

{/* Inicio da Classe com a Lista de Informações Pessoais */}
.lista {
    list-style: none;
    padding-left: 20px;
}

.lista li {
    font: var(--TextosDados);
     margin-bottom: 5px;
}

.lista li strong {
    color: var(--PretoTexto);
}
{/* Fim da Classe com a Lista de Informações Pessoais */}

{/* Inicio da Classe com o Botão de Editar */}
.botoes {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
}

.botaoEditar {
    background-color: var(--RoxoMain);
    color: var(--BrancoMain);
    border: none;
    width: 100px;
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.botaoEditar:hover {
    background-color: #5a4cc7;
}
{/* Fim da Classe com o Botão de Editar */}