{/* CSS do Componente CardAtual */}

{/* Inicio da Classe do Formato do Card */}
.card {
    background-color: var(--BrancoMain);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
{/* Fim da Classe do Formato do Card */}

{/* Inicio da Classe com o Titulo e a Data */}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
{/* Fim da Classe com o Titulo e a Data */}

{/* Inicio da Classe do Titulo */}
.titulo {
    font: var(--Titulos);
    color: var(--PretoTexto);
    margin-left: 20px;
    margin-top: 10px;
}
{/* Fim da Classe do Titulo */}

{/* Inicio da Classe da Data */}
.data {
    font: var(--Textos);
    color: var(--CinzaTexto);
    margin-right: 25px;
    margin-top: 15px;
}
{/* Fim da Classe da Data */}

{/* Inicio da Classe do Subtitulo */}
.subtitulo {
    font: var(--Subtitulos);
    color: var(--PretoTexto);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
{/* Fim da Classe do Subtitulo */}

{/* Inicio da Classe da Barra */}
.hr {
    border-top: 1px solid #bdb9b97a;
    margin: 20px 20px 10px
}
{/* Fim da Classe da Barra */}

{/* Inicio da Classe com a Lista de Informações do Carro */}
.lista {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 10px;
    font: var(--TextosDados);
    color: var(--CinzaTexto);
}

.lista li {
    font: var(--TextosDados);
    margin-bottom: 5px;

}

.lista li strong {
    color: var(--PretoTexto);
}
{/* Fim da Classe com a Lista de Informações do */}