{/* CSS do Componente Header */}

{/* Inicio da Classe Principal do Header */}
.headerContainer {
  background-color: var(--RoxoMain);
  color: var(--BrancoMain);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  gap: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: var(--Textos);
  flex-wrap: wrap;
}
{/* Fim da Classe Principal do Header */}

{/* Inicio da Classe com o Nome da TScent */}
.logoTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}
{/* Fim da Classe com o Nome da TScent */}

{/* Inicio da Classe com a Logo do Site */}
.logoImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
{/* Fim da Classe com a Logo do Site */}

{/* Inicio da Classe com o Título do Projeto */}
.headerTitle {
  font: var(--Titulos);
  margin: 0;
  text-align: left;
}
{/* Fim da Classe com o Título do Projeto */}

{/* Inicio da Classe da Propriedade Nav */}
.headerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 25px;
}
{/* Fim da Classe da Propriedade Nav */}

{/* Inicio da Classe com os Links da Navbar */}
.navItem {
  color: var(--BrancoMain);
  text-decoration: none;
  font: var(--Titulos);
  font-size: 1.4rem;
  padding: 6px 8px;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease-in-out;
}

.navItem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; 
  width: 100%;
  background-color: var(--BrancoMain);
  transform: scaleX(0); 
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navItem:hover::after {
  transform: scaleX(1); 
}

.active::after {
  transform: scaleX(1); 
}
{/* Fim da Classe com os Links da Navbar */}

{/* Inicio da Classe do Botão Sair */}
.logoutButton {
  font: var(--Titulos);
  font-size: 1rem;
  background-color: var(--VermelhoHover);
  color: var(--BrancoMain);
  border: none;
  border-radius: 6px;
  padding: 5px 30px;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.logoutButton:hover {
  background-color: var(--VermelhoHover);
  transform: scale(1.05);
}
{/* Fim da Classe do Botão Sair */}

{/* Inicio da Responsividade do Header */}
@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    gap: 10px;
  }

  .headerTitle {
    font-size: 1.4rem;
  }

  .headerNav {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
  }

  .logoutButton {
    margin-left: 0;
    padding: 8px 20px;
  }
}
{/* Fim da Responsividade do Header */}