/* login.module.css */

.loginBackground {
  background: linear-gradient(
    180deg, 
    #483D8B 0%, 
    #6A5ACD 50%, 
    #8A2BE2 100%
  );

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}